<table *ngIf="employee">
    <thead>
        <tr>
            <th colspan="2">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Id
            </td>
            <td>
                {{employee.id}}
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{employee.Name}}
            </td>
        </tr>
        <tr>
            <td>
                Gender
            </td>
            <td>
                {{employee.Gender}}
            </td>
        </tr>
    </tbody>
</table>
<br />
<div style="margin-top:5px">
    <input type="button" class="btn btn-primary" value="Return to Employee List" (click)="OnBtnClick()"/>
</div>

